body {
  background: url("https://img.freepik.com/premium-photo/chinese-style-gradient-blue-watercolor-background-hand-painted-illustration-cover-design-material_784069-7.jpg?w=360");
  /* background-repeat: no-repeat; */
  background-size: cover;
  margin: 0;
  padding: 0;
}
