<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../../css/navbar.css" />
  </head>
  <body>
    <div class="nav">
      <div class="navLogo">StreamFlicks</div>
      <div class="navItemContainer">
        <div class="navItem" data-index="0">
          <a href="/dashboard"> Search</a>
        </div>
        <div class="navItem" data-index="1">
          <a href="/schedule" class="navLink schedule-link"> Schedule</a>
        </div>
        <div class="navItem" data-index="2">
          <a href="/episodes" class="navLink schedule-link"> Episodes</a>
        </div>
        <div class="navItem" data-index="3">
          <a href="/about" class="navLink schedule-link"> About</a>
        </div>
        <div class="navItemActiveContainer">
          <div class="navItemActive">
            <div class="navItemActiveLeft"></div>
            <div class="navItemActiveCenter"></div>
            <div class="navItemActiveRight"></div>
          </div>
          <div class="navItemActive">
            <div class="navItemActiveCopyLeft"></div>
            <div class="navItemActiveCopyCenter"></div>
            <div class="navItemActiveCopyRight"></div>
          </div>
        </div>
      </div>
      <div class="burgerMenu">
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
      </div>
    </div>
    <div class="mobileNav">
      <div class="mobileNavItem" data-index="0">Home</div>
      <div class="mobileNavItem" data-index="1">Pricing</div>
      <div class="mobileNavItem" data-index="2">About</div>
      <div class="mobileNavItem" data-index="3">Contact</div>
      <div class="mobilenavItemActiveContainer">
        <div class="mobilenavItemActive">
          <div class="mobilenavItemActiveCenter"></div>
        </div>
      </div>
    </div>
  </body>
</html>
